name: Coverage Comment
on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  coverage-comment:
    name: Coverage Comment
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Download coverage reports
        uses: actions/github-script@v6
        with:
          script: |
            let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: context.payload.workflow_run.id,
            });
            let matchArtifact = allArtifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "coverage-report"
            })[0];
            let download = await github.rest.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            let fs = require('fs');
            fs.writeFileSync(`${process.env.GITHUB_WORKSPACE}/coverage-report.zip`, Buffer.from(download.data));

      - name: Extract coverage reports
        run: unzip coverage-report.zip

      - name: Get PR number
        id: pr-number
        uses: actions/github-script@v6
        with:
          script: |
            let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: context.payload.workflow_run.id,
            });
            let matchArtifact = allArtifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "pr-number"
            })[0];
            
            if (!matchArtifact) {
              return '';
            }
            
            let download = await github.rest.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            let fs = require('fs');
            fs.writeFileSync(`${process.env.GITHUB_WORKSPACE}/pr-number.zip`, Buffer.from(download.data));
            
            const { execSync } = require('child_process');
            execSync('unzip -o pr-number.zip');
            
            const prNumber = fs.readFileSync('pr_number.txt', 'utf8').trim();
            return prNumber;
          result-encoding: string
      - name: Jest Coverage Comment
        id: coverage
        uses: MishaKav/jest-coverage-comment@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-path: ./coverage.txt
          coverage-summary-path: ./coverage-summary.json
          issue-number: ${{ steps.pr-number.outputs.result }}

      - name: Create Coverage Badge
        if: github.event.workflow_run.head_branch == 'master'
        uses: schneegans/dynamic-badges-action@v1.7.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 3aec0274e0d5f029ab76a16627825c67
          filename: n8n-nodes-imap-coverage-badge.svg
          label: Coverage
          message: ${{ steps.coverage.outputs.coverage }}%
          color: ${{ steps.coverage.outputs.color }}
          